.product {
    background-color: #f1f1f1;
    width: 250px;
    margin: 10px;
    text-align: center;
    /* line-height: 400px; */
    /* font-size: 30px; */
    border: 2px solid lightgray;
    border-radius: 10px;
}

.product-img {
    width: 240px;
    height: 240px;
    margin: 10px auto;
}

.product-data {
    text-align: center;
}

.product-name {
    font-size: 0.9em;
    font-weight: bold;
    padding-bottom: 5px;
}

.product-text{
    font-size: 0.9em;
    /* padding-bottom: 5px; */
}

.product-price{
    color: #495057;
    font-weight: bold;
    font-size: 1.2rem;
}

.product-footer{
    display: flex;
    justify-content: space-between;
    padding: 0 36px 10px;
}
