* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.empy-errors{
    margin-top: 20px;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.empy-errors-item{
    font-size: 1.3rem;
    text-align: center;
}

